@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.back{
  background-color: #5c5755;
}

.back1{
  background-color: #1E293B;
}

.about-font{
    font-family: 'Poppins', sans-serif;
}

.side-nav {
    background: rgba(0,0,0,0.4);
  }
  
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .side-nav {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

  .control-dots{
    display: none;
  }

.home-story{
  background-image: url("../Images/homeStory.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  width: 80%;

}

.zoom{
  transition: transform .2s;
}
.zoom:hover{
  /* transform: scale(1.03); */
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 12px 26px 0 rgba(255, 255, 255, 0.19);
}   

.admin-shadow{
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 12px 26px 0 rgba(255, 255, 255, 0.19);
}